<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>

        body {
            padding-top:80px;
            background-color: black;
        }

        .jumbotron:hover{
            background-color: black;
            transition: 1s;
            color: white;
        }

    </style>
</head>
<body>

<div class="container">
   
    <div class="jumbotron text-center" onmouseover="stext">
        <h3 style="font-family: 'Times New Roman'; display: inline">Register here:</h3>
        <a href="/users/new" class="btn btn-default" style="font-family: 'Times New Roman'; font-size: 18px"><span class="fa fa-user"></span> Signup</a>
    </div>
   
</div>
</body>
</html>